.side-nav {
    padding-right: 1em;
    height: 100vh;
  }
  
  .header-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .header-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    
  }
  
  .header-h1 {
      
      color:white;
  }
  
  .header-p {
      
      color: white;
      font-size: 20px;
  }
  
  .content-wrapper {
      
      height: 500px;
  }